Django==1.4.1
PIL==1.1.7
boto==2.5.2
distribute==0.6.24
dj-database-url==0.2.1
django-disqus==0.4.1
django-paypal==0.1.2
django-registration==0.8
django-storages==1.1.5
gunicorn==0.14.6
psycopg2==2.4.5
sorl-thumbnail==11.12
wsgiref==0.1.2
