{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
	<div class="row">
		<div id="content" class="span9">
			<ul class="thumbnails">
				<li class="span9">
					<div class="thumbnailer">
						<img src="{% static 'img/bootstrap-mdo-sfmoma-02.jpg' %}" alt="thumbnail" />
						<div class="category">
							Let me tell you a little bit about TaiDai Heaven...
						</div>
						<div class="caption">
						<h2>About</h2>
<p><img class="avatar" alt="" src="img/avatar_default.gif">
All about Tai Dai Heaven Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blah Blah blah blah blah blahBlah blah blah blah blahAll about Tai Dai Heaven Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blah Blah blah blah blah blahBlah blah blah blah blah
</p>
<p>All about Tai Dai Heaven Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blah Blah blah blah blah blahBlah blah blah blah blah</p>
<p>All about Tai Dai Heaven Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blah Blah blah blah blah blahBlah blah blah blah blahAll about Tai Dai Heaven Blah blah blah blah blah Blah blah blah blah blah Blah blah blah blah blahBlah blah blah blah blahBlah blah blah blah blah Blah blah blah blah blahBlah blah blah blah blah </p>
						</div> <!--end caption-->
					</div> <!--end thumb-->
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}