{% extends "base.html" %}

{% load thumbnail %}


{% block content %}
<div class="container">
<div class="row">
	<div id="content" class="span12">
		<h3>Tag: {{ c.name }}</h3>
		<ul class="thumbnails">
			{% for item in items %}
			<li class="span3">
				<div class="thumbnail">
					{% thumbnail item.image1 "275x150" crop='center' as im %}
						<a href='{{ item.get_absolute_url }}'> 
							<img src='{{ MEDIA_URL }}{{ item.image1 }}' 
							width = '{{ im.width }}' height= "{{ im.height }}"
							alt="{{ item.name }}" class="bn" />
						</a>
					{% endthumbnail %}
					<div class="category">
					{% for category in item.categories.all %}
						<i class="icon-tag icon-white"></i>
						<a href="{{ category.get_absolute_url }}">{{ category }}</a>
					{% endfor %}
					</div>
					<div class="caption">
						<h4>{{ item.name }}</h4>
						<p>{{ item.description|truncatechars:50 }}</p> <!-- make this a maximum of 3 lines???-->	
						<hr>
						<p><a class="btn" href="{{ item.get_absolute_url }}">Read on →</a></p>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
</div>


{% endblock %}
				