{% extends "base.html" %}

{% load thumbnail %}

{% load disqus_tags %}



{% block content %}

<div class="container">
	<div class="row">
		<div id="title" class="span12">
			<h2>{{ item.name }}</h2>
				<br />
				<br />
		</div>
		<div class="span7">
			<div class="slider-inner">
						<div id="slider" class="carousel slide">
							<div class="carousel-inner">
								<div class="active item">
									{% thumbnail item.image1 "620x372" crop='center' as im %}
									<img src='{{ MEDIA_URL }}{{ item.image1 }}'
									width = '{{ im.width }}' height= "{{ im.height }}"
									alt="{{ item.name }}" class="bn" />
									{% endthumbnail %}
								</div>
								{% if item.image2 %}
								<div class="item">
								{% thumbnail item.image2 "620x372" crop='center' as im %}
									<img src='{{ MEDIA_URL }}{{ item.image2 }}'
									width = '{{ im.width }}' height= "{{ im.height }}"
									alt="{{ item.name }}" class="bn" />
								{% endthumbnail %}
								</div>
								{% endif %}
								{% if item.image3 %}
								<div class="item">
								{% thumbnail item.image3 "620x372" crop='center' as im %}
									<img src='{{ MEDIA_URL }}{{ item.image3 }}'
									width = '{{ im.width }}' height= "{{ im.height }}"
									alt="{{ item.name }}" class="bn" />
								{% endthumbnail %}
								</div>
								{% endif %}
							</div><!-- end carousel inner-->
						{% if item.image2 %}
						<a class="carousel-control left" data-slide="prev" href="#slider">&lsaquo;</a>
						<a class="carousel-control right" data-slide="next" href="#slider">&rsaquo;</a>
						{% endif %}
						</div><!--end carousel slide-->
					</div> <!--close slider-inner-->
					<h4>{{ item.description }}</h4>
					<div id="comments">
						<h3>Comments</h3>
						{% disqus_dev %}

						{% disqus_show_comments %}
					</div> <!--end coments-->
				</div><!--end span7-->
				<div class="span5">
					<div class="well">
						<div style="margin-bottom:1em">
        					<span class="price">${{ item.price }}</span>+ 
							<p>${{ item.shipping_price }} shipping</p>
						</div>  
					</div>
					<div class="control-group input_id_quantity ">
						<form method="post" action="." class="cart">{% csrf_token %}
							{{ form.as_p }}
							<br />
							<input type="submit" class="btn btn-inverse btn-large" value="Add To Cart"
							name="submit" alt="Add to Cart" />
						</form>
					</div>
				</div> <!--end span5-->
			</div>
	</div><!--end row-->
</div><!--end scontainer-->	



{% endblock %}