{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row">
		<div class="span12">
				<table class="table table-striped">
					<h3>
						Details for Order # {{ order.id }}
					</h3>
					<tr>
						<th>Item</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Total</th>
					</tr>
					<tbody>
						
						{% for order_item in order_items %} 
						<tr>	
							<td>
							{{ order_item.name }}
							</td>							
							<td>
							{{ order_item.price }}
							</td>
							<td>
							{{ order_item.quantity }}
							</td>
							<td>
							{{ order_item.total }}
							</td>
						</tr>
						{% endfor %}					
						<tr>
							<td>
							</td>
							<td>
							</td>
							<td>
							Grand Total:
							</td>
							<td>
							{{ order.total }}	
							</td>
						</tr>
					</tbody>
				</table>
			</div>
    	</div>
	</div>



{% endblock %}